.banner-main {
  padding: 0 20px;
  margin-bottom: 20px;
  .banner {
    display: flex;
    position: relative;
    align-items: center;
    background: linear-gradient(60deg, #ff3998, #ff7e39, green);
    padding: 30px 30px;
    height: 200px;
    border-radius: 10px;

    .content {
      position: relative;
      z-index: 1;
      width: 60%;
      .logo {
        max-width: 60px;
      }
      .title {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .image {
      position: absolute;
      top: -30%;
      right: 10%;
      max-width: 50%;
    }
  }
}
