.cards-main {
  padding: 0 20px;
  margin-bottom: 20px;
  .cards-wrapper {
    .title {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 20px;
        letter-spacing: 0.8px;
      }
      p {
        letter-spacing: 1px;
        opacity: 0.8;
      }
    }

    .cards-tracker {
      overflow: hidden;
      overflow-x: scroll;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }

      .cards {
        display: flex;
        justify-content: space-between;
        .card {
          padding: 20px;
          margin-right: 20px;
          cursor: pointer;
          &:hover {
            background: rgba(255, 57, 152, 0.2);
          }
          > .img {
            width: 250px;
            margin-bottom: 10px;
          }
          .desc {
            display: flex;
            justify-content: space-between;
            h1 {
              font-size: 18px;
              margin-bottom: 10px;
              font-weight: bold;
            }
            h2 {
              font-size: 16px;
              opacity: 0.7;
              font-weight: bold;
            }
            p {
              margin-bottom: 10px;
            }
            .color {
              color: orange;
            }
            .left {
              text-align: left;
            }
            .right {
              text-align: right;
              .price {
                display: flex;
                align-items: center;
                justify-content: center;
                .img {
                  margin-right: 10px;
                  width: 20px;
                  height: 20px;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
