$dark: #001e3c;
$black: rgb(0, 0, 0);
$text: rgb(255, 255, 255);

.darkmode {
  background: $dark;
  color: $text;

  // header
  .header-main {
    background: $dark;
    .header {
      .navs-main {
        .navs {
          .nav-list {
            @media screen and (max-width: 600px) {
              background: $dark;
            }
          }
        }
      }
    }
  }

  // carousel
  .carousel-main {
    .carousel-wrapper {
      &::before {
        background: linear-gradient(80deg, $dark, transparent);
      }
      &::after {
        background: linear-gradient(80deg, transparent, $dark);
      }
    }
  }

  // card

  .cards-main {
    .card {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
